language: node_js
node_js:
  - "10"

os:
  - linux
  - windows

branches:
  only:
    - testcafelivemodefails

install:
  # https://docs.travis-ci.com/user/reference/windows/
  # Git BASH is the shell that’s used to run your build. See Git for Windows for more details
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export PATH="$HOME/.yarn/bin:$PATH"; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then choco install googlechrome; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then REG QUERY HKLM\\SOFTWARE\\Clients\\StartMenuInternet //s //f Chrome; fi
  #  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then ASKCHROMEFORVERSIONINWINDOWSISNOTSUPPORTED fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then google-chrome --version; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then choco install firefox; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then REG QUERY HKLM\\SOFTWARE\\Clients\\StartMenuInternet //s //f Firefox; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then 'C:\Program Files\Mozilla Firefox\firefox.exe' -CreateProfile TestUser; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then 'C:\Program Files\Mozilla Firefox\firefox.exe' -P TestUser -version | cat; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then firefox --version; fi
  - yarn install

env:
  - MOZ_HEADLESS=1

addons:
  chrome: stable
  firefox: latest
  apt:
    packages:
      - imagemagick

script:
  # https://docs.travis-ci.com/user/reference/windows/
  # Git BASH is the shell that’s used to run your build. See Git for Windows for more details
  - env
  - echo $PATH
  - yarn testcafe --list-browsers
  - yarn ci

notifications:
  email:
    recipients:
      - dev-mails@gmx.net
